$color-1: #222831;
$color-2: #393e46;
$color-3: #00adb5;
$color-4: #eeeeee;
$color-white: #f3f3f3;
$color-black: #1d1d1d;
$color-grey: #333;

$color-red: #e23e57;

$bp-desktop: 87.5em;
$bp-laptop: 62.5em;
$bp-tablet: 56.25em;
$bp-mobile: 37.5em;
