@import '../../sass/Variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0rem 1px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $color-white;
  z-index: 100;
}

.menu {
  display: flex;
  column-gap: 1rem;

  li {
    margin: 0.4rem;
    font-size: 1rem;
  }

  a {
    color: $color-black;
  }

  a.active {
    color: $color-3;
    font-weight: bold;
    border-bottom: 3px solid $color-3;
  }
}

.logo {
  height: 3rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5rem;
    font-size: 0.7rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
    }
  }

  .logo {
    color: $color-3;
    height: 1.2rem;
    width: 1.2rem;
  }
}
