.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0rem 1px 1rem rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  column-gap: 1rem;

  li {
    margin: 0.4rem;
    font-size: 1rem;
  }

  a {
    color: #1d1d1d;
  }

  a.active {
    font-weight: bold;
    border-bottom: 3px solid #1d1d1d;
  }
}

.logo {
  font-size: 1.4rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5rem;
    font-size: 0.7rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  .logo {
    color: red;
    height: 1.2rem;
    width: 1.2rem;
  }
}
