@import '../../sass/Variables.scss';

.spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 4px solid #e2dfdd;
  border-top-color: $color-3;
  margin: 2rem auto;
  height: 3rem;
  width: 3rem;

  @media only screen and (max-width: 31.25em) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
