@import '../../sass/Variables.scss';

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  border-radius: 10px;
  height: max-content;
  border: 1px solid $color-white;
  transition: all 0.5s;
  animation: slide-right 0.5s ease;
}

@keyframes slide-right {
  0% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.image {
  height: 8rem;
  width: 8rem;
  align-self: center;
  border-radius: 50%;
}

.content {
  margin: 1rem 1rem 1rem 2rem;
}

.head h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.head a:hover {
  color: $color-red;
}

.head h3 {
  color: #6e6e6e;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.price {
  font-size: 1rem;
  margin: 1rem 0;
  color: $color-3;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.stars {
  font-size: 0.8rem;
  background-color: $color-grey;
  color: $color-white;
  padding: 0.4rem;
  border-radius: 5px;
}

.count {
  font-size: 0.8rem;
  font-weight: bold;
}

.ratingBadge {
  background-color: $color-3;
  color: $color-white;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0.5rem;
  font-weight: bold;
}

.wishlist {
  position: absolute;
  background-color: transparent;
  top: 4%;
  left: 4%;
  height: 1.7rem;
  width: 1.7rem;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;

  svg {
    color: $color-red;
  }

  &:hover > svg {
    fill: $color-red;
  }
}
