.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  margin: 2rem 0;
}

.logout {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
