@import '../../sass/Variables.scss';

.suggestions-item {
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  background-color: #fff;
  color: var(--color-grey);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  border-radius: 5px;
  animation: slide-right 0.5s ease;
  transition: background-color 0.25s ease;
}

.suggestions-item:hover {
  background-color: $color-white;
}

.suggestions-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.suggestions-item img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.suggestions-item h2 {
  font-size: 1rem;
  color: $color-1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestions-item h3 {
  font-size: 0.7rem;
  display: inline-block;
  border-radius: 5px;
  padding: 0.2rem;
  color: $color-3;
}

@keyframes slide-right {
  0% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 56.25em) {
  .suggestions-item h2 {
    font-size: 0.9rem;
  }

  .suggestions-item h3 {
    padding: 0;
  }

  .suggestions-item img {
    height: 3rem;
    width: 3rem;
  }
}
