@import '../../sass/Variables.scss';

.search {
  width: 30%;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 15%);
  background-color: #fff;
  padding: 0.5rem 1rem;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: $color-grey;
  margin-right: 0.3rem;
}

.input {
  width: 100%;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.input:focus + .suggestions {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.suggestions {
  position: fixed;
  background-color: #fff;
  top: 118%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s;
}

@media only screen and (max-width: $bp-desktop) {
  .search {
    width: 40%;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .search {
    width: 70%;
  }

  .input {
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }

  .suggestions-item h2 {
    font-size: 0.9rem;
  }

  .suggestions-item h3 {
    padding: 0;
  }

  .suggestions-item img {
    height: 3rem;
    width: 3rem;
  }
}
