@import './sass/Variables.scss';

.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: $color-white;
  border: 3px solid $color-3;
  transition: background-color 0.25s;

  &:hover {
    background-color: $color-3;
  }
}

.skeleton-loader:empty {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

.main-heading {
  font-size: 2.5rem;
  color: $color-grey;
}

.secondary-heading {
  font-size: 1.5rem;
  color: $color-grey;
}
